* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  /*it provides extra space and more content writing space and adjust padding and boderline effeciently*/
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}
/*ğ“œğ“»ğ“²ğ“¾ğ“¶*/
nav {
  /* display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
*/

  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}
nav button {
  border: 0;
  outline: 0;
}
